$font-stack: Lato, sans-serif;

$color-text-main: #000000;
$color-link: #4A90E2;
$color-link-light: #BDD7F5;
$color-background: #BDE3F5;
$color-error: #a94442;

$mini-z-index: 5;

$gap-normal: 20px;

$width-min: 50px;